<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/css/schedule.css">
    
</head>
<body>
    <% for(let i = 0; i<blocks.length; i++){ %>
        
        <div id=<%= blocks[i]._id %> class=<%= blocks[i].type %>>
            <h3><%= blocks[i].title %></h3>
            
            <ul>                
                <li>Date: <%= blocks[i].date %></li>
                <li>Time to Complete: <%= blocks[i].requiredTimppe%></li>
            </ul>
        </div>
    <% } %>
</body>
</html>